.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.span-error {
  color: red;
  font-size: 12px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
