<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Création d'une nouvelle voiture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="new-car">
  <div>
    <form [formGroup]="carForm">
      <ion-item>
        <ion-input
          label="Marque"
          labelPlacement="stacked"
          placeholder="Peugeot"
          formControlName="marque"
        >
        </ion-input>
      </ion-item>
      @if (carForm.get('marque')?.dirty) { @if
      (carForm.get('marque')?.errors?.['required']) {
      <span class="span-error">{{requiredFieldMessage}}</span>
      } @if (carForm.get('marque')?.errors?.['minlength']) {
      <span class="span-error"
        >La marque doit contenir au moins 2 caractères</span
      >
      } }

      <ion-item>
        <ion-input
          label="Modèle"
          labelPlacement="stacked"
          placeholder="508"
          formControlName="model"
        >
        </ion-input>
      </ion-item>
      @if (carForm.get('model')?.dirty) { @if
      (carForm.get('model')?.errors?.['required']) {
      <span class="span-error">{{requiredFieldMessage}}</span>
      } @if (carForm.get('model')?.errors?.['minlength']) {
      <span class="span-error"
        >Le modèle doit contenir au moins 2 caractères</span
      >
      } }

      <ion-item>
        <ion-input
          label="Plaque d'immatriculation"
          labelPlacement="stacked"
          placeholder="AB-123-CB"
          formControlName="plate"
        >
        </ion-input>
      </ion-item>
      @if (carForm.get('plate')?.dirty) { @if
      (carForm.get('plate')?.errors?.['required']) {
      <span class="span-error">This field is required</span>
      } @if (carForm.get('plate')?.errors?.['minlength']) {
      <span class="span-error"
        >La plaque d'immatriculation doit doit contenir au moins 2
        caractères</span
      >
      } }

      <ion-item>
        <ion-input
          label="Photo avant"
          labelPlacement="stacked"
          (change)="onFileChange($event, 'frontPicture')"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Photo arrière"
          labelPlacement="stacked"
          (change)="onFileChange($event, 'backPicture')"
        >
        </ion-input>
      </ion-item>

      <div class="container-button">
        <ion-button
          size="medium"
          [disabled]="carForm.invalid"
          (click)="onSave()"
          onkeypress="onSave()"
        >
          Enregistrer
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
