<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="caret-back"
        (click)="goToCarPage()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Détail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="car-detail">
  <div *ngIf="car">
    <ion-item>
      <ion-label>Photo avant</ion-label>
      <img
        [src]="car.frontPicture"
        alt="Front Picture"
        *ngIf="car.frontPicture"
      />
    </ion-item>
    <ion-item>
      <ion-label>Photo arrière</ion-label>
      <img [src]="car.backPicture" alt="Back Picture" *ngIf="car.backPicture" />
    </ion-item>
    <ion-item>
      <ion-label>Marque</ion-label>
      <ion-text>{{ car.marque }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Modèle</ion-label>
      <ion-text>{{ car.model }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Plaque</ion-label>
      <ion-text>{{ car.plate }}</ion-text>
    </ion-item>
  </div>
</ion-content>
