<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="caret-back"
        (click)="goToCarPage()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Détail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="car-detail">
  <div *ngIf="car">
    <ion-item>
      <img
        [src]="car.frontPicture ? car.frontPicture  : 'https://ionicframework.com/docs/img/demos/card-media.png'"
        alt="Photo avant"
      />
    </ion-item>
    <ion-item>
      <img
        [src]="car.backPicture ? car.backPicture  : 'https://ionicframework.com/docs/img/demos/card-media.png'"
        alt="Photo arrière"
      />
    </ion-item>
    <ion-item>
      <ion-label>Marque</ion-label>
      <ion-text>{{ car.marque }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Modèle</ion-label>
      <ion-text>{{ car.model }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Plaque d'immatriculation</ion-label>
      <ion-text>{{ car.plate }}</ion-text>
    </ion-item>
  </div>
</ion-content>
